* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #ece9e6, #ffffff);
  
}

.calculator {
  border-radius: 16px;
  padding: 20px;
  background: #1c1c1c;
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
  width: 320px;
}

.display {
  width: 100%;
  background: #333;
  color: #fff;
  padding: 15px;
  text-align: right;
  font-size: 25px;
  border: none;
  border-radius: 8px;
  margin-bottom: 10px;
  
}

.expression {
  font-size: 16px;
  color: #aaa;
  text-align: right;
  
  height: 20px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 20px;
  font-size: 20px;
  border: none;
  border-radius: 12px;
  background: #2d2d2d;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  background: #444;
}

button:active {
  transform: scale(0.75);
}

.operator {
  background: #ff9500;
  color: #fff;
}

.operator:hover {
  background: #e08900;
}

.span-2 {
  grid-column: span 4;
  background: #28a745;
}

.span-2:hover {
  background: #218838;
}

.C, .AC {
  background-color: #d9534f;
}

.C:hover, .AC:hover {
  background-color: #c9302c;
}
